<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職員メニュー</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" th:href="@{/css/staff-menu.css}">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<main class="staff-menu-container">
		<div class="menu-list">
		<!--adminはアカウント管理のみに変更-->
			<ul>
		<!--		仮-->
				<li>
					<a href="/staff/reservations">祈願予約管理<br>
						<span class="menu-count">
							未祈願：<span th:text="${todayUnprayedCount}">0</span>件　
							祈願済：<span th:text="${todayPrayedCount}">0</span>件
						</span>
					</a></li>
				<li><a href="#">お祭り・行事出席管理</a></li>
				<li><a href="#">授与品郵送受付管理</a></li>
				<li><a href="#">スケジュール管理</a></li>
				<li><a href="#">在庫管理</a></li>
				<li><a href="#">帳簿管理</a></li>
				<li><a href="#">崇敬者・参拝者管理</a></li>
				<li><a href="/reservations/new">祈願登録フォームへ</a></li>
		<!--		<li th:if="${session.loginUser.admin}"><a href="#">職員アカウント管理</a></li>-->
		    </ul>

		</div>
		<section class="free-area2">
			<p id="todayBox"></p>
			<p th:if="${errorMsg}" th:text="${errorMsg}"></p>	
		</section>
		
		<section class="calendar-area">
			<p>ここに祈願予定カレンダーを表示</p>
		</section>
		
		<section class="notice-area">
			<h2>掲示板</h2>

			<div th:if="${#lists.isEmpty(notices)}">
				<p>まだ投稿はありません。</p>
			</div>

			<article th:each="notice : ${notices}" class="notice-card">
				<h3 th:text="${notice.title}">タイトル</h3>

				<p class="notice-meta">
					投稿者：
					<span th:text="${notice.staffAccount.staffName}">職員名</span>
				</p>

				<p class="notice-meta">
					投稿日：
					<span th:text="${#temporals.format(notice.createdAt, 'yyyy/MM/dd HH:mm')}">
					2026/07/04 12:00
				</span>
				</p>

				<p class="notice-content" th:text="${notice.content}">
					本文
				</p>
			</article>
			<div class="notice-form">
				<form th:action="@{/staff/notices/create}" method="post" th:object="${notice}">
					<div class="form-group">
						<label for="title">タイトル</label>
						<input type="text" id="title" th:field="*{title}" placeholder="例：明日の祈願受付について" required>
					</div>
	
					<div class="form-group">
						<label for="content">本文</label>
						<textarea id="content" th:field="*{content}" rows="4" placeholder="例：明日は10時より団体祈願があります。受付時に確認をお願いします。" required></textarea>
					</div>
	
					<div class="form-button">
						<button type="submit">投稿する</button>
					</div>
				</form>
			</div>
		</section>
		<section class="news-area">
			<h2>ニュース</h2>
			<p>ここにニュースやお知らせを表示予定</p>
		</section>

		<!-- 下中央：自由枠 -->
		<section class="free-area">
			<h2>なにかに使用する</h2>
		</section>

		

	</main>
	<script th:src="@{/js/today.js}"></script>
</body>
</html>