<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者メニュー</title>
</head>
<body>
    <h1>管理者メニュー</h1>
<!--adminはアカウント管理のみに変更-->
	<ul>
<!--		仮-->
		<li><a th:href="@{/admin/staff}">アカウント管理</a></li>
		<li><a th:href="@{/admin/staff/new}">アカウント追加</a></li>
		<li><a href="#">アカウント削除</a></li>
		<li><a href="#">システム問い合わせ</a></li>
		
<!--		<li th:if="${session.loginUser.admin}"><a href="#">職員アカウント管理</a></li>-->
    </ul>

    <p><a th:href="@{/reservations/new}">一般予約フォームへ</a></p>
<!--	将来的にログアウトにする-->
	<p><a th:href="@{/}">トップへ</a></p>
</body>
</html>