<!DOCTYPE html>
<!--Thymeleafを記載すること-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約完了</title>
</head>
<body>
<h1>予約を受け付けました</h1>
<p>祈願予約ありがとうございます。</p>
<!--EL式で記述-->
<table border="1">
<tr>
	<th>予約番号</th>
	<td th:text="${reservationId}"></td>
</tr>
<tr>
    <th>名前</th>
    <td th:text="${name}"></td>
</tr>
<tr>
    <th>かな</th>
    <td th:text="${kana}"></td>
</tr>
<tr>
    <th>生年月日</th>
    <td th:text="${birthday}"></td>
</tr>
    <th>電話番号</th>
    <td th:text="${phone}"></td>
</tr>
<tr>
	<th>郵便番号</th>
    <td th:text="${postalCode}"></td>
</tr>
<tr>
    <th>住所</th>
    <td th:text="${address}"></td>
</tr>
    <th>メールアドレス</th>
    <td th:text="${email}"></td>
</tr>
<tr>
    <th>祈願希望日</th>     
	<td th:text="${preferredDate}"></td>
</tr>
<tr>
    <th>祈願の種類</th>
    <td th:text="${prayerType}"></td>
</tr>
<tr>
    <th>備考</th>
    <td th:text="${note}"></td>
</tr>
</table><br>
<a href="/reservations/new">予約フォームに戻る</a>

</body>
</html>