<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約詳細</title>
</head>
<body>

<h1>予約詳細</h1>

<table border="1">
    <tr>
        <th>予約番号</th>
        <td th:text="${reservation.id}"></td>
    </tr>
    <tr>
        <th>氏名</th>
        <td th:text="${reservation.name}"></td>
    </tr>
    <tr>
        <th>かな</th>
        <td th:text="${reservation.kana}"></td>
    </tr>
    <tr>
        <th>生年月日</th>
        <td th:text="${reservation.birthday}"></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td th:text="${reservation.phone}"></td>
    </tr>
	    <tr>
        <th>郵便番号</th>
        <td th:text="${reservation.postalCode}">		
	</td>
    <tr>
        <th>住所</th>
        <td th:text="${reservation.address}"></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td th:text="${reservation.email}"></td>
    </tr>
    <tr>
        <th>祈願希望日</th>
        <td th:text="${reservation.preferredDate}"></td>
    </tr>
    <tr>
        <th>祈願の種類</th>
        <td th:text="${reservation.prayerType}"></td>
    </tr>
    <tr>
        <th>備考</th>
        <td th:text="${reservation.note}"></td>
    </tr>
</table>

<br>
<a th:href="@{/staff/reservations/{id}/edit(id=${reservation.id})}">予約を編集</a>
<a href="/staff/reservations">予約一覧に戻る</a>
<form th:action="@{/staff/reservations/{id}/delete(id=${reservation.id})}" method="post" style="display:inline;">
    <button type="submit">予約を削除</button>
</form>
</body>
</html>