<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>祈願予約フォーム</title>
</head>
<body>
<h1>祈願予約フォーム</h1>

<form th:action="@{/reservations}" th:object="${reservationForm}" method="post">
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="例：山田　太郎"><br><br>
	<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
	<p>初宮・代理参拝の方は、備考に氏名等を追加でをご記入ください。</p>
	
	<label for="kana">かな:</label>
	<input type="text" id="kana" th:field="*{kana}" placeholder="例：やまだ　たろう"><br><br>
	<p th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}"></p>
	
	<label for="birthdate">生年月日:</label>
	<input type="date" id="birthday" th:field="*{birthday}" ><br><br>
	<p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
	
	<label for="phone">電話番号:</label>
	<input type="text" id="phone" th:field="*{phone}" placeholder="例：090-9999-9999"><br><br>
    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
	
	<label for="postalCode">郵便番号:</label>
	<input type="text" id="postalCode" th:field="*{postalCode}" placeholder="例：811-3221"><br><br>
	<p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></p>
	
	<label for="address">住所:</label>
	<input type="text" id="address" th:field="*{address}" placeholder="例：福岡県福津市若木台〇〇〇〇"><br><br>
	<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
		
    <label for="email">メールアドレス:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="例：×××××＠×××.com"><br><br>
	<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
	
    <label for="date">祈願希望日時:</label>
    <input type="date" id="preferredDate" th:field="*{preferredDate}"><br><br>
	<p th:if="${#fields.hasErrors('preferredDate')}" th:errors="*{preferredDate}"></p>
	
    <label for="prayerType">祈願の種類:</label>
    <select id="prayerType" th:field="*{prayerType}">
        <option value="">選択してください</option>
        <option value="無病息災">無病息災</option>
        <option value="恋愛成就">恋愛成就</option>
        <option value="家内安全">家内安全</option>
		<option value="商売繁盛">商売繁盛</option>
		<option value="学業成就">学業成就</option>
		<option value="交通安全">交通安全</option>
		<option value="開運厄除">開運厄除</option>
		<option value="子宝祈願">子宝祈願</option>
		<option value="結婚祈願">結婚祈願</option>
		<option value="長寿祈願">長寿祈願</option>
		<option value="その他">その他（備考に記載下さい）</option>
    </select>
	<p th:if="${#fields.hasErrors('prayerType')}" th:errors="*{prayerType}"></p>
	<br><br>

	<label for="note">備考（記載方法が不明の際はご相談ください）:</label><br>
	<textarea id="note" th:field="*{note}" rows="4" cols="100" 
	placeholder="例：海上安全の祈願をお願いします、船名は「〇〇丸です」&#10;例：初宮にて参拝します親　〇〇太郎・〇〇花子&#10;例：代理参拝となります、参拝者　〇〇良子　電話番号090‐9999‐9999"></textarea>
	<p th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
	<br><br>
    <button type="submit">予約する</button>
	
</form>
<script>
//	カーソルから外れたら動く処理
	document.getElementById("postalCode").addEventListener("blur",function(){
		const postalCode = this.value;
		
		if(!postalCode){
			return;
		}
		
		fetch("/api/postal-code?postalCode=" + encodeURIComponent(postalCode))
		.then(response => response.json())
		.then(data=> {
			if(data.length == 0){
				return;
			}
//			住所を結合する
			const address = data[0].prefecture + data[0].city + data[0].town;
			
			document.getElementById("address").value = address;
		})
		.catch(error =>{
			console.error("検索エラーです：",error);
		});
	});
</script>
</body>
</html>